body {
  font-size: 150%;
}
.main {
  max-width: 650px;
  margin: 50px;
}
h1 {
  font-size: 170%;
}

.photo {
  float: right;
  width: 220px;
  margin-right: -260px;
  border-radius: 2px;
}
A {

   TEXT-DECORATION:NONE;
    COLOR:     #007bb6;
}
A:visited {
   TEXT-DECORATION: NONE
    COLOR:   #007bb6;
}
A:active {
   TEXT-DECORATION: NONE
   COLOR: #0000CC;
}
A:hover {
   TEXT-DECORATION: NONE;
    COLOR: #0000CC;

}